<div class="container">
  <h1>Welcome to URL Shortener!</h1>
  <form class="create_url" action="/url_maker" method="post">
    <input type="text" name="user_url">
    <input type="submit" value="create url">
  </form>

  <p id="confirmation"></p>

  <form class="logout" action="/logout" method="post">
    <input type='submit' value='log out'>
  </form>

  <% Url.find_all_by_user_id(@current_session_id).each do |ws|%>
    <p><%= ws.full_url %></p>
  <% end %>

</div>
